body {
  background-color: hsl(0, 0%, 10%);
}

.todo-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  background: linear-gradient(to right, rgba(216, 76, 76, 0.999), rgb(188, 88, 90), rgb(19, 162, 52));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bold;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  margin-left: 10px;
  background-color: hsla(120, 35%, 53%, 0.925);
}

.add-button:hover {
  background-color: hsla(120, 35%, 43%, 0.925);
}

.delete-button {
  background-color: hsl(10, 90%, 50%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 40%);
}

.move-button {
  background-color: hsl(204, 68%, 55%);
}

.move-button:hover {
  background-color: hsl(204, 68%, 35%);
}

input[type="text"] {
  width: 60%;
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsla(0, 0%, 100%, 0.036);
  border: 0.9px solid hsla(0, 27%, 9%, 0.262);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: white;
}

.text {
  flex: 1;
}

.delete-button, .move-button {
  margin-left: 10px;
  font-size: 1.4rem;
  padding: 8px 12px;
}
